<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1><br>
    <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_user_path(current_user) %></button><br>
    <%= link_to "Log out", logout_path, method: "delete" %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="4"></th>
          </tr>
        </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, users_path %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
